//urls
// @import 'http://fonts.googleapis.com/css?family=Lato';
// @import 'http://fonts.googleapis.com/css?family=Noticia+Text';
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
$portada_jpg: url('../images/portada.jpg');
//colors
$larepublica: #970303;
$white: #FFFFFF;
$pink:rgba(212, 23, 62, 0.85);
//fonts

// $font_miriam: 'Miriam Libre';
// $font_lato : 'Lato';
$font_oswald : 'Oswald';
$font_cultive : 'Cutive Mono';
$font_rc : 'Roboto Condensed';
